 .controls-group {
     margin-top: 1rem;
     min-height: 432px;

    .control-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0.5rem;

        &:first-of-type {
            margin-top: 0;
        }

        &__label {
            width: 100px;
        }

        &__value {
            color: transparent;
            cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
            text-shadow: 0 0 0 #182026;

            &:focus {
                background: #219bee;
                outline: none;
            }
        }
    }
 }   
    
