.rom-list-container {
    max-height: 66.66vh;
    overflow-y: scroll;

    .rom-container {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        height: 70px;
        box-shadow: inset -4px -4px #adafbc;
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;

        &:first-of-type {
            margin-top: 1rem;
        }

        &__name {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            background: #e7e7e7;
        }

        &:active {
            background: #e7e7e7;
            box-shadow: inset 4px 4px #adafbc;
        }
    }
}

#rom-file-input {
    display: none;
}
