body {
    margin: 0;
    font-family: 'Press Start 2P';
    font-size: 12px;
}

// Blueprint
.bp3-dialog {
    background: white;
    border-radius: 0;
    padding: 0;
}

@import './components/App.scss';
@import './components/Menu.scss';
@import './components/Canvas.scss';
@import './components/FpsDisplay.scss';
@import './components/RomsMenu.scss';
@import './components/ControlsMenu.scss';
